.aboutContainer {
  max-width: 800px;
  margin-top: 10%;

  h3 {
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
  }
  p {
    opacity: 0;
    animation: fadeInUp 0.5s 0.3s forwards;
    color: #353535;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(35px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 525px) {
  .aboutContainer {
    padding: 30px;
  }
}
