@import '../styles/animation.scss';

.buttonWrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  padding: 7px 14px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  animation: fadeInUp 0.7s forwards;
  transition: all 0.5s;
}

.download:hover {
  background-color: rgb(26, 26, 29);
  color: #fff;
}
