@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u {
  font-family: 'Shrikhand';
  font-size: 40px;
  margin: 26px 0;
}

.line {
  height: 1px;
  width: 300px;
  background-color: #0f1112;
}

.navList {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: auto 0;
    margin-left: 30px;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

.activeLink {
  border-bottom: 2px solid grey;
}
